Backgrounds
Backgrounds/**
Data Updater
Data Updater/**
Music
Music/**
Music-Fake
Music-Fake/**
node_modules
node_modules/**
package-lock.json
yarn.lock
.vscode
.vscode/**
cache
cache/**
db
db/**
snapshots
snapshots/**