html,
body {
	min-height: 100%
}

body {
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('Backgrounds/13-StarlitSky.PNG');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Roboto", sans-serif;
}

.text{
    color:white;
    padding: 2%;
    width:30%;
    font-size:20px;
}