html,
body {
	min-height: 100%
}

body {
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('Backgrounds/SMG4.PNG');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Roboto", sans-serif;
}

.player {
	height: 95vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.details {
	color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-top: 25px;
}

.track-art {
	margin: 25px;
	height: 250px;
	width: 250px;
	background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
	background-size: cover;
	border-radius: 15%;
	z-index: 2;
}

.top-tags {
	position: absolute;
	color: white;
	margin-left: 425px;
	margin-bottom: 68px;
	box-sizing: border-box;
	height: 225px;
	width: 225px;
	z-index: 1;
	/* background-color: rgba(0, 0, 0, .6); */
	box-sizing: border-box;
	overflow-x: hidden; /* Disable scroll */
	visibility: hidden;
}

.top-tags:hover{
	visibility: visible;
}

.top-tags a {
	padding: 8px 8px 0px 8px;
	text-decoration: none;
	font-size: 18px;
	color: #818181;
	display: block;
	transition: 0.3s;
	cursor: pointer;
	width:fit-content;
  }

.top-tags .searchbar {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 36px;
	outline: none;
	border: none;
	width: 100%;
	color: white;
  }

.top-song-tags {
    visibility: visible;
}

/* top tags on side of album */
.song-tag {
	border-radius: 10px;
	display: inline-block;
	background-color: #2b2b2b;
	color: #818181;
	padding-top: 1%; padding-bottom: 1%;
	padding-left: 30%; padding-right: 2%;
	margin: 8px 8px 0px 8px;
	align-items: center;
}

.song-tag:hover{
	padding-left: 36%;
	cursor:pointer;
}

.now-playing {
	font-size: 1rem;
}

.track-name {
	font-size: 3rem;
}

.track-artist {
	font-size: 1.5rem;
}

.buttons {
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.playpause-track,
.prev-track,
.next-track {
	padding: 25px;
	opacity: 0.8;
	/* Smoothly transition the opacity */
	transition: opacity .2s;
}

.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
	opacity: 1.0;
}

.slider_container {
	color: white;
	width: 75%;
	max-width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}


/* Modify the appearance of the slider */

.seek_slider,
.volume_slider {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 5px;
	background: black;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	color: white;
}


/* Modify the appearance of the slider thumb */

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	background: white;
	cursor: pointer;
	border-radius: 50%;
}

.seek_slider:hover,
.volume_slider:hover {
	opacity: 1.0;
}

.seek_slider {
	width: 60%;
}

.volume_slider {
	width: 30%;
}

.current-time,
.total-duration {
	padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
	padding: 10px;
}

i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
	cursor: pointer;
}

.add-playlist,
.tag-track {
	margin: 20px;
	padding: 5px;
	cursor: pointer;
}

.tag-add-list{
	height: 100%;
	position: fixed;
	right: 0;
}

/* The side navigation menu */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	right: 0;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, .6); /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
	padding: 8px 8px 0px 8px;
	text-decoration: none;
	font-size: 18px;
	color: #818181;
	display: block;
	transition: 0.3s;
	cursor: pointer;
	width:fit-content;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .searchbar {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 36px;
	outline: none;
	border: none;
	width: 100%;
	color: white;
	background: rgba(255, 255, 255, 0);
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }

  .tagselector {
	padding: 8px 8px 2px 8px;
	text-decoration: none;
	font-size: 18px;
	color: #818181;
	display: block;
	transition: 0.3s;
	cursor: default;
  }

.tag {
	border-radius: 10px;
	display: inline-block;
	background-color: #2b2b2b;
	color: #818181;
	height: fit-content;
	width: fit-content;
	padding-top: 1%; padding-bottom: 1%;
	padding-left: 2%; padding-right: 2%;
	margin: 8px 8px 0px 8px;
	align-items: center;
	transition:0.25s;
}

.tag:hover {
	color: #f1f1f1;
	transition:0.25s;
}

#tagRemover {
	cursor:pointer;
}

.removeTagButton {
	margin-right: 4px;
}

th, td{
	padding: 5px;
}